@charset "UTF-8";

/* Google maps for residence availabilities (in modal window): */
.map-canvas {
    width: 100%;
    height: 600px;
    border: solid 1px $white;
    margin-bottom: 20px;

    img {
        max-width: inherit;
    }

    .name-residence {
        font-weight: bold;
    }

    .map-marker-info {
        // Overriding Google Maps styles.
        width: 300px;
        max-width: 300px;
        min-width: 300px;
    }

    .map-legend {
        padding: 5px;
        background-color: white;
        border: solid 1px $grey-medium;
    }
}

#search-map-container {
    background-color: $white;
    border-radius: 4px;
    margin-bottom: 2em;
    position: relative;

    svg {
        width: 100%;
    }
}

#france-map {
    #projection {
        display: none;
    }

    #paris-button {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    a.city {
        .dot-hover-color-layer {
            fill: #ffffff;
        }

        &:hover {
            tspan {
                font-weight: bold;
            }

            .dot-hover-color-layer {
                fill: #f7a521;
            }
        }
    }
}
