.file {
    background: $gray-lighter;
    border-bottom-left-radius: $spacing-quarter;
    box-sizing: content-box;
    display: inline-block;
    font-size: .75rem;
    height: 1.2em;
    line-height: 1.2em;
    margin: 0;
    padding: $spacing-quarter $spacing-half;

    &__link {
        display: inline-block;
        color: $black;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: #000;
        }

        &:not(:last-of-type){
            position: relative;

            &::after {
                color: $color-secondary;
                content: '/';
                font-size: 1.2em;
                padding: 0 $spacing-quarter;
                position: relative;
                vertical-align: middle;
                text-decoration: none;
            }
        }
    }
}
