.home {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;

        .panel:last-child {
            li {
                a {
                    text-align: left;
                }

                &:first-child {
                    a {
                        background-color: $yellow;
                        border-color: darken($yellow, 5%);

                        &:hover,
                        &:focus,
                        &:active {
                            text-decoration-color: lighten($yellow, 20%);
                        }
                    }
                }
            }
        }
    }

    &__aside {
        min-width: 150px;
    }

    &__infos {
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            list-style: none;
            padding: 0;
        }

        li {
            a {
                width: auto !important;
            }
        }
    }

    &__link {
        &-text {
            display: table-cell;
            height: 60px;
            padding: 0 5px;
            vertical-align: middle;
            width: calc(100% - 60px);
        }
    }

    &__picto {
        border-radius: 6px;
        float: left;
        height: auto;
        max-width: 60px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        a {
            @include button();
            margin-bottom: $tiny-spacing;
            width: 100%;
        }
    }

    .panel {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: .5rem;
    }

    h2 {
        text-transform: none;
        color: $black;
        border-bottom: 1px solid lighten($black, 40%);
    }
}
