////
/// @author Drakona <contact@drakona.fr>
/// @group front/base
///
/// @since 13/02/2019
////

body {
  font-family: $global-fonts;
}

///
/// Text utility classes
/// (see modifiers)
///
.text {
  font-size: $default-spacing;
  max-width: 100%;

  &--bold {
    font-weight: bold;
  }

  &--normal {
    font-style: normal;
    font-weight: normal;
  }

  &--italic {
    font-style: italic;
  }

  &--center {
    text-align: center !important;
  }

  &--left {
    text-align: left !important;
  }

  &--right {
    text-align: right !important;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--default {
    font-size: $default-spacing;
  }

  &--tiny {
    font-size: .55em;
  }

  &--small {
    font-size: .9em !important;
  }

  &--medium {
    font-size: 1.2em !important;
  }

  &--big {
    font-size: 1.2em;
  }

  &--huge {
    font-size: 1.4em;
  }

  &--content {
    a {
      color: $black;
      font-weight: bold;
    }
  }

  @each $name, $color in $container-colors {
    &--#{$name} {
      color: $color;
    }
  }

  /// Standard text
  /// To force link's rendering
  &--standard {
    color: inherit;
    text-decoration: none;
  }

  &--ellipsis {
    @include typography-ellipsis;
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--base-font {
    font-family: $global-fonts !important;
  }

  &--chapo {
    font-weight: 600;
    margin-bottom: .5rem;
  }

  &--link {
    color: $grey-darker;

    &:hover,
    &:active,
    &:focus {
      color: $yellow;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .text {
    font-size: .9em;

    &--small {
      &-center {
        text-align: center;
      }
    }
  }
}
