@mixin menu-more() {
  &:hover,
  &:focus,
  &:active,
  &--opened {
    &::after {
      border-top-color: lighten($color-secondary, 50%);
    }
  }

  &::after {
    border-left: $menu-triangle-size solid transparent;
    border-right: $menu-triangle-size solid transparent;
    border-top: $menu-triangle-size solid $color-secondary;
    content: ' ';
    display: inline-block;
    height: 0;
    left: calc(50% - #{$menu-triangle-size});
    transition: border-color .3s;
    width: 0;
  }
}

@mixin list-before($size: .6rem) {
  &::before {
    border-radius: 50%;
    border: #{$size / 4} solid $color-secondary;
    content: ' ';
    display: inline-block;
    height: $size;
    width: $size;
  }
}

@mixin panel() {
  background-color: rgba($color-background, .95);
  box-shadow: 0 0 $default-spacing $black;
  color: $white;
  font-size: .85em;
  line-height: 1.4;
  max-width: 100%;
  position: absolute;

  &__label,
  &__separator {
    color: $grey-darker;
  }

  &__disabled {
    color: $grey-dark;
  }

  &__services {
    border-top: 1px solid $grey-lighter;
    display: flex;
    flex-wrap: wrap;
    margin-top: $small-spacing;
    padding-top: $small-spacing;
  }

  &__action {
    background-color: $color-secondary;
    color: white;
    display: block;
    font-size: 1.2em;
    margin: $small-spacing auto 0 auto;
    padding: $tiny-spacing $small-spacing;
    text-align: center;
    text-decoration: none;
    width: calc(100% - 2em);

    &--paypal {
      background: none;
      margin-top: 0;
      padding: 0;
      width: auto;
    }
  }

  &__info {
    margin-bottom: $small-spacing;
  }

  &__close {
    display: block;
    margin: $tiny-spacing 0;
    text-align: right;
    text-decoration: none;

    &-button {
      fill: $grey-medium;
      margin-top: $tiny-spacing;
      max-height: 16px;
      max-width: 16px;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__service {
    font-size: .9em;
    margin-bottom: $small-spacing;
    padding-left: 1.25em;
    padding-right: $small-spacing;
    position: relative;
    width: 50%;

    &::before {
      border-radius: 50%;
      border: 2px solid $white;
      content: ' ';
      display: inline-block;
      height: 1em;
      left: -.25em;
      position: absolute;
      width: 1em;
    }

    &--disabled {
      color: $grey-dark;

      &::before {
        border: 2px solid $grey-dark;
      }
    }
  }

  &__gallery {
    height: 250px;
    margin-bottom: $default-spacing;
    max-height: 40%;
    max-width: 100%;
    overflow: hidden;

    &-element {
      max-width: 100%;
      vertical-align: top;
    }
  }

  &__photo {
    max-width: 100%;
  }
}

@mixin panel-specifics(
  $position: 'top',
  $height: 4rem,
  $width: 100%,
  $z-index: $index-secondary-menu-form,
  $offset: -10rem,
  $padding: 0
) {
  #{$position}: $offset;
  height: $height;
  padding: $padding;
  transition: #{$position} .75s;
  width: $width;
  z-index: $z-index;

  @if $position == 'top' {
    left: 0;
  } @else {
    top: 0;
  }
}

@mixin panel-opened($position: 'top') {
  #{$position}: 0;
}
