// Site specific colors
$color-main-variant: #001d26;
$color-secondary-variant: $grey-lightest;
$blue-almost-black: #01090b;
$blue-even-darker: #00080a;
$blue-darker: #001d26;
$blue-dark: $color-main;
$blue-medium: $color-secondary;
$blue-light: #00c3f7;
$medium: #ccc;
$dark: #666;
$red: #ff0000;
$color-background: $blue-secondary;
$color-background-secondary: $white;

// Texts colors
$color-text-base: $white;
$color-text-on-main: $color-text-base;
$color-text-on-secondary: $color-main;
$color-text-highlited: $white;

$index-default: 0;
$index-popin-info: 20;
$index-popin-account: 30;
$index-popin-account-background: #{$index-popin-account - 5};
$index-secondary-menu-form: -1;
$index-secondary-menu: 40;
$index-main-menu: 50;

$breakpoint-large: 1024px;

// Body
$body-bg: #eaeaea;
$body-font-family: 'Helvetica', 'Arial';
$body-font-color: #3b3b3b;

// Screens
$small-screen: $breakpoint-medium;
$medium-screen: $breakpoint-large;
