.map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: $breakpoint-large) {
  .map {
    margin: $default-spacing $small-spacing $big-spacing;
    min-height: 50vh;
    width: calc(100% - #{$small-spacing * 2});
  }
}
