.panel {
  @include panel();

  .prototype {
    display: none;
  }

  &--menu {
    @include panel-specifics(
      $position: 'top',
      $height: 4rem,
      $width: 100%,
      $z-index: $index-secondary-menu-form,
      $offset: -10rem
    );

    &.panel--opened {
      @include panel-opened();
    }
  }

  &--help {
    @include panel-specifics(
      $position: 'top',
      $height: 100%,
      $width: 100%,
      $z-index: #{$index-default + 1},
      $offset: -120%
    );
    overflow-y: auto;
    padding: $small-spacing $default-spacing;

    &.panel--opened {
      @include panel-opened();
    }
  }

  &--faq,
  &--submit {
    @include panel-specifics(
      $position: 'top',
      $height: 100%,
      $width: 70%,
      $z-index: #{$index-default + 1},
      $offset: -120%
    );
    left: 15%;
    overflow-y: auto;
    padding: $small-spacing $default-spacing;

    &.panel--opened {
      @include panel-opened();
    }
  }

  &--info {
    @include panel-specifics(
      $position: 'left',
      $height: 100%,
      $width: 30rem,
      $z-index: $index-popin-info,
      $offset: -120%,
      $padding: $small-spacing
    );
    font-size: 1em;

    &.panel--opened {
      @include panel-opened($position: 'left');
    }
  }
}

@media screen and (max-height: 900px) {
  .panel--info {
    font-size: .75em;
  }
}
