////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////

///
/// Form
///
.form {
  &__label {
    margin-right: $small-spacing;

    &--hidden {
      @include hide-visually;
    }

    &--full {
      margin: 0 0 $small-spacing 0;
      width: 100%;
    }

    &:not(.checkbox__label) {
      font-size: .9em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__input,
  &__field {
    background: $white;
    border-radius: #{$global-border-radius / 2};
    border: 0;
    display: inline-flex;
    min-height: 2.25rem;
    padding: $tiny-spacing $small-spacing;

    &:not(.form__field--textarea) {
      max-height: 2.25rem;
    }
  }

  &__error {
    margin: $tiny-spacing 0;

    &-wrapper {
      width: 100%;
    }
  }

  &__field {
    border: 1px solid rgba($black, .125);
    width: 100%;

    &--error {
      border: 1px solid $alert;
    }

    &-container {
      align-items: center;
      display: inline-flex;
      flex-wrap: wrap;
      flex: 0 1 25%;
      margin: $default-spacing 0;
      max-width: 50%;
      min-width: 25%;
      padding-right: $big-spacing;
    }
  }

  &__section {
    border-top: 1px solid $grey-medium;
    margin-top: $default-spacing;
    padding: $small-spacing 0;
    width: 100%;

    &-title {
      @include title(
        $size: $medium-spacing,
        $margin-size: $small-spacing
      );
      margin-top: $tiny-spacing;
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;

      &--inline {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 1 25%;

        .checkbox__label,
        .form__oneliner {
          align-self: center;
        }
      }
    }
  }

  &__suffix {
    &-wrapper {
      align-items: center;
      display: inline-flex;
      width: 100%;

      .form {
        &__field {
          margin-right: .5rem;
        }
      }
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: $small-spacing;
    width: 100%;

    .button {
      margin-right: $default-spacing;
    }
  }

  &__result-filters {
    overflow: hidden;

    .form {
      &__label {
        font-size: .9em;
        white-space: nowrap;
      }
    }
  }

  &--inline {
    .form {
      &__label {
        &--full {
          margin-bottom: 0;
        }
      }

      &__buttons {
        margin-top: 0;
      }
    }
  }

  .intl-tel-input {
    width: 100%;
  }

  .select2-container {
    .select2-choice {
      height: calc(2.25em - 2px);
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .form {
    &__field {
      &-container {
        flex-basis: 50%;
        width: 50%;
        max-width: unset;
      }
    }

    &__section {
      &-title {
        font-size: 1.25em;
      }

      &-content {
        &--inline {
          flex: 0 1 50%;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .form {
    &__field {
      &-container {
        flex-basis: 100%;
        margin: 0;
        padding: $tiny-spacing 0;
        width: 100%;
      }
    }

    &__section {
      &-title {
        font-size: 1.1em;
      }

      &-content {
        &--inline {
          flex-direction: column;
          flex: 0 1 100%;
        }
      }
    }

    &__buttons {
      flex-direction: column;
      width: 100%;

      .button {
        margin-bottom: $default-spacing;
        margin-right: 0;
      }
    }

    .content {
      &__element {
        margin-top: $default-spacing !important;
      }
    }
  }
}
