////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////


///
/// Section
///
.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5em $default-spacing 2.5em;

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: $global-max-width;
    overflow: hidden;
    width: 100%;

    &--column {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__subtitle {
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__text {
    font-weight: 300;
    line-height: 1.2;
    padding: $default-spacing 0;
    width: 100%;

    &--large {
      padding: $big-spacing 5%;
    }

    &--small {
      padding: $small-spacing 0;
    }

    &--tiny {
      padding: $tiny-spacing 0;
    }
  }

  &__list {
    list-style: disc;
    padding-left: $default-spacing;

    &-element {
      margin-bottom: $tiny-spacing;
    }
  }

  &__more {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 1 100%;
    font-weight: bold;
    font-size: 1.25em;
    justify-content: center;
    margin: 1.5em 0 $small-spacing;
    text-align: center;
    text-decoration: none;
    transition: color .25s;

    &:hover,
    &:focus,
    &:after {
      color: $yellow;
    }
  }

  &__help-phone {
    align-items: center;
    display: inline-flex;
  }

  &--grey {
    background-color: $grey-medium;
    color: $white;

    .icon-plus {
      width: 2.5rem;
    }
  }

  &--grey-darker {
    background-color: $grey-darker;
    color: $white;
  }

  &--grey-lighter {
    background-color: $grey-lighter;
    color: $black;
  }

  &--blue {
    background-color: $blue;
  }

  &--separator {
    border-bottom: 1px solid $grey-medium;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &--small {
    padding: $default-spacing;
  }
}

@media (max-width: $breakpoint-medium) {
  .section {
    padding: $big-spacing $small-spacing;

    &__intro {
      text-align: center;
    }

    &__more {
      font-size: .9em;
    }

    &__more,
    &__title {
      align-self: center;
      text-align: center;
    }

    &--card {
      align-items: flex-start;
    }

    &--grey {
      .icon-plus {
        width: 2.2rem;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .section {
    &__more {
      font-size: .9em;
    }

    &--grey {
      .icon-plus {
        width: 1.7rem;
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .section {
    display: block;
  }
}

@media #{"\\0 screen"} {
  .section {
    display: block;
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .section {
    display: block;
  }
}}
