////
/// @author Drakona <contact@drakona.fr>
/// @group front/layout
///
/// @since 29/03/2019
////


///
/// Layout
///
.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

@media screen and (min-width:0\0) {
  .layout {
    max-height: 100%;
    overflow: hidden;
  }
}

@media #{"\\0 screen"} {
  .layout {
    max-height: 100%;
    overflow: hidden;
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .layout {
    max-height: 100%;
    overflow: hidden;
  }
}}
