////
/// @author Drakona <contact@drakona.fr>
/// @group front/abstracts
///
/// @since 13/02/2019
////

///
/// Hide an item, but keep it readable for screen readers and robots
///
@mixin hide-visually() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

///
/// Text ellipsis on an element's text
/// requires a max-width on the same element
///
@mixin typography-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

///
/// Properties of a close button
///
@mixin close-button {
  align-items: center;
  background: transparent;
  border: 0;
  color: $black;
  cursor: pointer;
  display: inline-flex;
  font-size: $big-spacing;
  height: $default-spacing;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: $default-spacing;
}

@mixin border-step-train ($arrow-color) {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: $arrow-color transparent transparent transparent;
  top: 39px;
  left: 45%;
}

@mixin block-list($base-class) {
  .block-#{$base-class} {
    .block-list {
      padding: 10px;
    }

    .list {
      list-style: none;
      padding: 0;
    }

    .#{$base-class} {
      display: inline-block;
      list-style: none;
      margin: 5px;
      padding: 0;
      vertical-align: top;

      &-link {
        display: inline-block;
      }
    }
  }
}


@mixin ribbon(
  $type: 'promo',
  $size: 'normal',
  $font-size: 1em
) {
  align-items: center;
  border-bottom-left-radius: $global-border-radius;
  border-top-left-radius: $global-border-radius;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.5rem;
  z-index: 1;

  &__text {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    line-height: 2.5rem;
    position: relative;
    text-shadow: 0 0 1.5rem rgb(255, 255, 255);
    transform: rotate(-90deg);
    width: 100%;
  }
}

@mixin cross-sell(
  $base-class: 'block-cross-sell',
  $columns: 1
) {
  @include block-list($base-class: 'cross-sell');
  .#{$base-class} {
    .columns {
      padding-left: 0;
      padding-right: 0;
    }

    .slick-initialized {
      .cross-sell {
        display: block;
      }
    }

    .cross-sell {
      display: none;

      @if ($columns > 1) {
        padding: 0 10px;
      }

      &:first-child {
        display: block;
      }

      &-minimal {
        display: block;
        margin-bottom: 10px;
        min-height: 60px;
      }

      &-photo {
        margin-right: 5px;
      }

      &-availabilities {
        margin: 10px 0;

        .date-available {
          color: $success-color;
          font-weight: bold;
        }
      }

      &-actions {
        text-align: center
      }
    }

    ul {
      padding: 0;

      .inline-list > li {
        margin-left: 0.5em;
        font-size: .75em;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .description-residence {
      margin: 10px 0;
    }
  }
}
